@use '../abstracts/variables' as var;

.home{
  h2{
    font-size: 20px;
    font-weight: normal;
  }
  .special-book{
    background-color: #161616;
    color: #fff;
    border-radius: 10px;
    padding: 20px 0 20px 20px;
    p{
      font-size: 14px;
      font-weight: 300;
    }
    h2{
      font-size: 16px;
      font-weight:bold;
      margin:5px 0 30px;
    }
  }
}