@font-face {
  font-family: 'Golos';
  src: url('../../assets/fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('../../assets/fonts/GolosText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket';
  src: url('../../assets/fonts/GmarketSansLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket';
  src: url('../../assets/fonts/GmarketSansMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket';
  src: url('../../assets/fonts/GmarketSansBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}